body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F7F8FA;
}

.header {
    background-color: #577399;
    height: 50px;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 讓文字垂直置中 */
    position: fixed; /* 固定在頁面頂部 */
    top: 0;
    left: 0;
    width: 100%; /* 佔滿寬度 */
    z-index: 1000; /* 保持在最上層 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 增加陰影效果 */
}

.header .logo a {
    text-decoration: none; /* 去除超連結底線 */
    color: white;          /* 設置文字顏色 */
    font-weight: bold;     /* 加粗字體 */
    font-size: 1.5em;      /* 調整大小 */
}

.header .logo a:hover {
    text-decoration: underline; /* 滑鼠懸停時加底線 */
}

.login-button {
    background-color: #BDD5EA;
    color: #577399;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px 20px;
    cursor: pointer;
    margin-right: 50px;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;   
}
.login-button a{
    text-decoration: none; /* 移除下劃線 */
    color: #577399; /* 設置文字顏色 */
    font-weight: bold;
    display: block; /* 使整個選單項目可以點擊 */
    
}

/* Welcome section */
.main-content {
    text-align: center;
    margin: 50px auto;
    padding: 0 20px;
}

.main-content h2 {
    color: #46688A;
    font-size: 2em;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 50px;
}


/* Card container */
.management-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

/* Individual cards */
.option-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}



.option-card h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.option-card:hover {
    transform: translateY(-5px);
}

.click_in {
    background-color: #577399;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
}

.click_in:hover {
    background-color: #46688A;
    transform: translateY(-3px);
}

.click_in a{
    text-decoration: none; /* 移除下劃線 */
    color: white; /* 設置文字顏色 */
    display: block; /* 使整個選單項目可以點擊 */
    
}


footer {
    background-color: #BDD5EA;
    text-align: center;
    padding: 10px;
    color: #577399;
    font-size: 0.9em;
    width: 100%; /* 滿版 Footer */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto; /* 確保 Footer 固定在底部 */
}